body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

section {
    padding: 20px 0;
    border-bottom: #eaeaea 1px solid;
}

#home {
    background: #f4f4f4;
    text-align: center;
}

#home h2 {
    margin: 0;
    padding: 20px 0;
}

#searchForm input[type="text"],
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
}

#searchForm button,
#contactForm button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: 0;
}

#services ul {
    padding: 0;
    list-style: none;
}

#services ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: #eaeaea 1px solid;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
